body {
    font-family: 'Ubuntu', sans-serif;
    background-color: hsl(233, 12%, 14%);
    padding:  3% 0% 0% 0%;
}

h1 {
    text-align: center;
    color:#de9e36;
    font-size: 50px;
}

h3 {
    padding:  1% 0% 0% 0%;
    text-align: center;
    color:#de9e36;
}

img {
    margin-left: 10px;
    margin-right: 10px;
}

.profile-pic-container {
    padding:  3% 0% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin:  60px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-circle {
    border-radius: 50%;
    display: inline-block;
}

.white-background {
    background-color: #ffffff
}

.circle:hover
{
    box-shadow: 0 0 20px #ffffff;
}
